title=properties.title
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0")
title=properties.name
meta(name="description", content=properties.description)
meta(name="keywords", content=properties.keywords)
meta(name="author", content="Oliver Johnstone - http://www.linkedin.com/profile/view?id=164798721")
script(type="application/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(type="application/javascript", src="/static/build/index.js")
link(rel="stylesheet", href="/static/build/index.css")
link(rel="shortcut icon", href="/static/img/icons/favicon.ico")
link(rel="apple-touch-icon-precomposed", href="/static/img/icons/57x57.png", sizes="57x57")
link(rel="apple-touch-icon-precomposed", href="/static/img/icons/114x114.png", sizes="114x114")
link(rel="apple-touch-icon-precomposed", href="/static/img/icons/72x72.png", sizes="72x72")
link(rel="apple-touch-icon-precomposed", href="/static/img/icons/114x114.png", sizes="114x114")
meta(name="viewport", content="initial-scale=1.0")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content=properties.name)
meta(name="application-name", content=properties.name)
meta(name="msapplication-TileImage", content="/static/img/icons/114x114.png")
meta(name="msapplication-TileColor", content="#349aa8")
